# Logs
logs
*.sysLog
npm-debug.sysLog*
yarn-debug.sysLog*
yarn-error.sysLog*
pnpm-debug.sysLog*
lerna-debug.sysLog*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables files
/service/.env
