# Logs
logs
*.aigcLog
npm-debug.aigcLog*
yarn-debug.aigcLog*
yarn-error.aigcLog*
pnpm-debug.aigcLog*
lerna-debug.aigcLog*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables files
/service/.env
